<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
</head>
<body style="background-color: rgb(106, 120, 185);">
    <form action="" method="POST">{% csrf_token %}
        <p>Título: <input type="text" name="titulo"> </p>
        <p>Género: <input type="text" name="genero"> </p>
        <p>Publicación: <input type="date" name="publicacion"> </p>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>